<h1 class="display-4">Contact</h1>

<br>

<div class="row">
  <div class="col-lg">
    <mat-card class="mb-3 mat-elevation-z3">
      <h3 style="font-weight: lighter">Mail</h3>
      <p>
        <a class="text-muted small" href="mailto:mathew.sachin.git@outlook.com">Mathew.Sachin.Git@Outlook.com</a>
      </p>
    </mat-card>
  </div>
  <div class="col-lg">
    <mat-card class="mb-3 mat-elevation-z3">
      <h3 style="font-weight: lighter">Twitter</h3>
      <p>
        <a class="text-muted small" href="https://twitter.com/MathewSachin7" target="_blank">@MathewSachin7</a>
      </p>
    </mat-card>
  </div>
  <div class="col-lg">
    <mat-card class="mb-3 mat-elevation-z3">
      <h3 style="font-weight: lighter">Gitter Chat</h3>
      <p>
        <a class="text-muted small" href="https://gitter.im/MathewSachin/Captura" target="_blank">MathewSachin/Captura</a>
      </p>
    </mat-card>
  </div>
  <div class="col-lg"></div>
</div>