<article class="container">
  <h1 class="display-4">Contributing</h1>
  
  <p>Want to Help? You can help by starring this repo, contributing code, testing and reporting bugs.</p>
  <p>You can always <a href="https://gitter.im/MathewSachin/Captura" target="_blank">Chat on Gitter</a> for Questions/Discussions.</p>
  
  <h3>Contributing Code</h3>
  
  <p>When contributing major changes to this repository, please first discuss the change you wish to make via issue, email, or any other method before making a change.</p>
  
  <h3>Reporting Issues</h3>
  
  <ul>
    <li>Check the <a routerLink="/faq">FAQ</a></li>
    <li>Check if a similar issue is already reported. If so then comment on that issue with details specific to your case.</li>
    <li>Check if the issue is resolved on the latest commit.</li>
    <li>If possible, Include <strong>steps</strong> to replicate the problem or a sample project.</li>
  </ul>
  
  <h3>Translations</h3>
  
  <p>See <a routerLink="/translation">here</a>.</p>
  
  <h3>Donations</h3>
  
  <p>See <a routerLink="/donate">here</a>.</p>
</article>