<h1 class="display-4">Contributing</h1>

<p>Want to Help? You can help by starring this repo, contributing code, testing and reporting bugs.</p>
<p>You can always <a href="https://gitter.im/MathewSachin/Captura" target="_blank">Chat on Gitter</a> for Questions/Discussions.</p>

<br>

<div class="row">
  <div class="col-lg-6">
    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Code</mat-card-title>
        <mat-card-subtitle>When contributing major changes to this repository, first discuss the change you wish to make via issue, email, or any other method before making a change.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Starring</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Donating</mat-card-title>
        <mat-card-subtitle>See <a routerLink="/donate">here</a>.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Translation</mat-card-title>
        <mat-card-subtitle>See <a routerLink="/translation">here</a>.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Reporting Bugs / Providing Feedback</mat-card-title>
        <mat-card-subtitle>
          <p>Guidelines for reporting Issues</p>

          <ul>
            <li>Check the <a routerLink="/faq">FAQ</a></li>
            <li>Check if a similar issue is already reported. If so then comment on that issue with details specific to your case.</li>
            <li>Check if the issue is resolved on the latest commit.</li>
            <li>If possible, Include <strong>steps</strong> to replicate the problem or a sample project.</li>
          </ul>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Website</mat-card-title>
        <mat-card-subtitle>This website is written in Angular and resides in a <a href="https://github.com/MathewSachin/ng-captura" target="_blank">separate repository</a>.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Testing</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="mb-3 mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Sharing / Writing Reviews</mat-card-title>
        <mat-card-subtitle>
          <p>Some Reviews:</p>

          <ul>
            <li>
              <a href="http://www.softpedia.com/get/Multimedia/Video/Video-Recording/Captura-MathewSachin.shtml" target="_blank">Softpedia</a>
            </li>
            <li>
              <a href="http://www.chip.de/downloads/Captura_120939142.html" target="_blank">Chip.de</a>
            </li>
            <li>
              <a href="https://www.ghacks.net/2017/08/16/captura-desktop-recording-program-for-windows/" target="_blank">gHacks</a>
            </li>
            <li>
              <a href="https://www.gigafree.net/media/recording/Captura.html" target="_blank">gigafree.net</a>
            </li>
            <li>
              <a href="https://trainghiemso.vn/captura-quay-phim-man-hinh-may-tinh-win-10/" target="_blank">trainghiemso.vn</a>
            </li>
          </ul>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>