<h1 class="display-4">Translation</h1>

<p>Captura is localized using language-specific JSON files. Language can be set on Config tab.</p>

<h3>Contributing</h3>

<ul>
  <li>Copy the <code>en.json</code> file in <code>src/Captura.Loc/Languages</code> folder.</li>
  <li>Rename the copy to <code>[Language ID].json</code> where <code>[Language ID]</code> is the ID of language you are translating into.</li>
  <li>Do translation in the renamed file.</li>
  <li>Send Pull Request.</li>
</ul>

<h3>Testing</h3>

<p>
  Place the <code>[Language ID].json</code> file in the <code>Languages</code> folder of a build.
  The Language can be tested by starting Captura and selecting the Language on <code>Config</code> tab.
</p>

<h3>Currently supported languages</h3>

<br>

<div class="text-muted">Available in {{translations.length}} Languages</div>

<br>

<div class="mat-elevation-z3 w-100">
  <div>
    <mat-form-field class="w-100 p-4">
      <input matInput [(ngModel)]="filterText" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText = null; applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="t-container">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="language">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.language}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Locale ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="translators">
        <mat-header-cell *matHeaderCellDef>Contributors</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let translator of element.translators; index as i">
            <a href="https://github.com/{{translator}}" target="_blank">@{{translator}}</a><span *ngIf="i != element.translators.length - 1">,&nbsp;</span>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-top bg-white"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>