<h1 class="display-4">Captura {{release.tag}}</h1>
<p class="text-muted">Released on {{release.publishedAt | date}}</p>

<br>

<a href="https://github.com/MathewSachin/Captura/releases/latest" target="_blank" class="btn btn-outline-info mr-3 mb-3">View on GitHub</a>

<br><br>

<div class="row">
  <div class="col-lg d-lg-flex">
    <div class="card mb-3 border-primary">
      <div class="card-header text-primary">Installer</div>
      <div class="card-body text-primary">
        <p class="card-text">
          Installs Captura to your system.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">{{release.setup.size | fileSize}}</li>
      </ul>
      <div class="card-footer">
        <a class="card-link" href="{{release.setup.url}}" target="_blank">Download</a>
      </div>
    </div>
  </div>
  <div class="col-lg d-lg-flex">
    <div class="card mb-3 border-success">
      <div class="card-header text-success">Portable</div>
      <div class="card-body">
        <p class="card-text text-success">
          Portable version does not need to be installed. Just extract the zip file and you are good to go.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">{{release.portable.size | fileSize}}</li>
      </ul>
      <div class="card-footer">
        <a class="card-link" href="{{release.portable.url}}" target="_blank">Download</a>
      </div>
    </div>
  </div>
  <div class="col-lg d-lg-flex">
    <div class="card mb-3 border-warning">
      <div class="card-header text-warning">Source Code</div>
      <div class="card-body">
        <p class="card-text text-warning">
          Download Source Code for this Release as a Zip file.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
          <a href="https://github.com/MathewSachin/Captura/commit/{{release.commit}}" target="_blank">{{release.commit.substring(0, 7)}}</a>
        </li>
      </ul>
      <div class="card-footer">
        <a class="card-link" href="{{release.zipball}}" target="_blank">Download</a>
      </div>
    </div>
  </div>
</div>