<h1 class="display-4" [class.text-danger]="isPrerelease">Captura {{release.tag}}</h1>
<p class="text-muted">Released on {{release.publishedAt | date}}</p>

<p>
  <span class="text-muted">Commit:</span>
  <a href="https://github.com/MathewSachin/Captura/commit/{{release.commit}}" target="_blank">
    {{release.commit.substring(0, 7)}}
  </a>
</p>

<br>

<a mat-raised-button color="accent" href="https://github.com/MathewSachin/Captura/releases/latest" target="_blank">View on GitHub</a>

<div *ngIf="hasPrerelease" class="btn-group mx-3" role="group">
  <button type="button" class="btn" [class.btn-outline-primary]="isPrerelease" (click)="isPrerelease = false" [class.btn-primary]="!isPrerelease">Stable</button>
  <button type="button" class="btn" [class.btn-outline-danger]="!isPrerelease" (click)="isPrerelease = true" [class.btn-danger]="isPrerelease">Prerelease</button>
</div>

<br><br><br>

<div class="row">
  <div class="col-lg">
    <mat-card class="mat-elevation-z5 h-100">
      <mat-card-title>Installer</mat-card-title>
      <mat-card-subtitle>{{release.setup.size | fileSize}}</mat-card-subtitle>
      
      <a mat-raised-button [color]="isPrerelease ? 'warn' : 'primary'" href="{{release.setup.url}}" download="Captura-Setup.exe">Download</a>
      
      <br><br>

      <p>Downloads: {{release.setup.downloadCount | number}}</p>

      <p class="text-muted">Installs Captura on your system.</p>
    </mat-card>
  </div>
  <div class="col-lg">
    <mat-card class="mat-elevation-z5 h-100">
      <mat-card-title>Portable</mat-card-title>
      <mat-card-subtitle>{{release.portable.size | fileSize}}</mat-card-subtitle>
      
      <a mat-raised-button [color]="isPrerelease ? 'warn' : 'primary'" href="{{release.portable.url}}" download="Captura-Portable.zip">Download</a>
      
      <br><br>

      <p>Downloads: {{release.portable.downloadCount | number}}</p>

      <p class="text-muted">Portable version does not need to be installed. Just extract the zip file and you are good to go.</p>
    </mat-card>
  </div>
</div>

<br><br><hr>

<a mat-raised-button [color]="isPrerelease ? 'warn' : 'primary'" href="{{release.zipball}}" download="Captura-Source.zip">Source Code</a>
<a mat-raised-button color="accent" href="https://ci.appveyor.com/project/MathewSachin/Captura" target="_blank">CI</a>