<h1 class="display-4">Changelog</h1>
<small>Changelog for versions before v5.0.0 are available on GitHub Releases</small>

<br><br><br>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>vNext</mat-panel-title>
      <mat-panel-description>Next Release (v8.0.0)</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="vNext"></ng-container>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>v7.0.1</mat-panel-title>
      <mat-panel-description>20 Mar 2018</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="v701"></ng-container>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>v7.0.0</mat-panel-title>
      <mat-panel-description>14 Mar 2018</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="v700"></ng-container>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>v6.0.1</mat-panel-title>
      <mat-panel-description>6 Nov 2017</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="v601"></ng-container>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>v6.0.0</mat-panel-title>
      <mat-panel-description>1 Nov 2017</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="v600"></ng-container>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>v5.0.1</mat-panel-title>
      <mat-panel-description>14 Sep 2017</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="v501"></ng-container>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>v5.0.0</mat-panel-title>
      <mat-panel-description>10 Aug 2017</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="v500"></ng-container>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #vNext>
  <h5>Audio / Video Sources</h5>
  <ul>
    <li>Stop Window capture when Window is closed.</li>
    <li><strong>fix:</strong> Mouse cursor position is wrong after moving region selector.</li>
    <li><strong>fix:</strong> Unable to resize Region Selector after stopping recording.</li>
    <li>Desktop Duplication is supported with Variable Frame Rate Gif.</li>
    <li><strong>fix:</strong> Desktop Duplication recording does not crash when Screen enters non-recordable mode. e.g. Sign-in screen.</li>
    <li>Added an option to playback recorded audio in real-time in Config | Extras.</li>
    <li>Record and ScreenShot buttons on Region Selector.</li>
    <li>Added Window picker and Screen picker which prompt for selector on starting recording or taking screenshot.</li>
    <li>More than 2 audio sources can be simultaneously recorded.</li>
    <li>Audio sources can be changed during recording. A checkbox next to the Audio heading determines whether audio will be recorded.</li>
    <li>Shows Error Message when bass.dll or bassmix.dll is not present.</li>
    <li>Hide when Recording option is configured on Region Selector itself.</li>
    <li>Refresh retains selected Audio/Video sources/codecs and Webcam.</li>
    <li>Basic drawing support in Region Selector.</li>
  </ul>

  <h5>Preview</h5>
  <ul>
    <li>Added option to Preview while recording.</li>
    <li>Supports full screen view.</li>
  </ul>

  <h5>Overlays</h5>
  <ul>
    <li>Overlays are now configured on a separate window.</li>
    <li>Overlays can be positioned by dragging boxes over a Background on the window.</li>
    <li>Separate colors for Right and Middle mouse click overlays.</li>
    <li>Support for custom image overlays.</li>
    <li>Overlay customization from UI is used in Console.</li>
    <li>Option to display Mouse Pointer Overlay to make easier to track Mouse Pointer.</li>
    <li>Added minimal mouse click animation.</li>
    <li>Elapsed is separated from TextOverlays and can be toggled from Main View.</li>
  </ul>

  <h5>FFmpeg</h5>
  <ul>
    <li>Option to resize FFmpeg output video size.</li>
    <li>FFmpeg Log maintains multiple logs.</li>
    <li>FFmpeg Log copies complete output to clipboard.</li>
    <li>Multiple Custom FFmpeg Codecs.</li>
    <li>Increased FFmpeg thread_queue_size</li>
    <li>Ensure previous frame is written when writing asynchronously.</li>
  </ul>

  <h5>Hotkey Window</h5>
  <p>Separate window to manage hotkeys with option to add, delete or edit action and keys.</p>

  <h5>Image Editor</h5>
  <ul>
    <li>Added a minimal image editor.</li>
    <li>Added a new ScreenShot target: Editor.</li>
  </ul>

  <h5>Image Cropper</h5>
  <p>Added option to crop images.</p>

  <h5>Audio / Video Trimmer</h5>
  <p>Added option to trim Audio and Video.</p>

  <h5>Translation</h5>
  <p>Added new translations:</p>
  <ul>
    <li>Japanese</li>
    <li>Chinese (Simplified)</li>
    <li>Chinese (Traditional)</li>
  </ul>

  <h5>Other</h5>
  <ul>
    <li><strong>fix:</strong> <code>captura shot</code> failing for fullscreen screenshots.</li>
    <li><strong>fix:</strong> Main window webcam preview position on high DPI.</li>
    <li><code>Duration</code> is considered after <code>Start Delay</code> has elapsed.</li>
    <li><code>Duration</code> and <code>Start Delay</code> are stored in Settings.</li>
    <li>Added option to use System Proxy.</li>
    <li><strong>fix:</strong> Mouse Cursor moves slowly when recording from Command-line</li>
    <li>Webcam capture support from Command-line.</li>
    <li>Option to Minimize to System Tray on Startup.</li>
    <li>Option to Minimize to System Tray when Closed.</li>      
    <li>Add a Translator window to aid in translation. Can be opened from About tab.</li>
    <li>More icons in the UI.</li>
    <li>Multiple selectable Screenshot Save Locations.</li>
    <li>Display Licenses in a Window.</li>
    <li>Notification Stack</li>
    <li>Added an Exception Dialog.</li>
    <li>
        Stop Recorder when Frames are not being writen.
        This happens when either the FrameRate is too high or a codec is slow.
        No of frames to be written are checked with a maximum value to determine whether to stop recording.      
        This helps prevent crash from 100% RAM usage and causing the system to hang.
    </li>
    <li>Ability to delete uploaded images from Imgur</li>
  </ul>
</ng-template>

<ng-template #v701>
  <ul>
    <li><strong>fix:</strong> FFmpeg download link gives 404.</li>
  </ul>
</ng-template>

<ng-template #v700>
  <ul>
    <li>Improved efficiency of specific screen capture.</li>
    <li>The window is repositioned on startup if it is outside desktop bounds.</li>
    <li>Handle errors when copying to clipboard.</li>
    <li>Localization is done using JSON files.</li>
    <li><strong>fix:</strong> Wrong full screen region size.</li>
    <li>Refresh updates the full screen region size.</li>
    <li>Desktop Duplication is now shown as a video source.</li>
    <li>Reuse <code>Image</code> and <code>Graphics</code> objects without disposing to reduce CPU usage.</li>
    <li>Better organisation in Settings file: <code>Captura.json</code>.</li>
    <li>Prevent crashes when possible.</li>
    <li><strong>fix:</strong> Unable to precisely resize Region Selector on high DPI.</li>
    <li>Option to Hide Region Selector during recording.</li>
    <li>Lagarith codec support through SharpAvi (Install codec manually, disable Null Frames and select RGB as format).</li>
  </ul>
  
  <h5>Overlays</h5>
  
  <ul>
    <li>
      Added support for Custom Text overlays.
      <code>%elapsed%</code> can be used as a replacement token for the time elapsed.
    </li>
    <li>Opacity support for Webcam overlay.</li>
    <li>Remember selected webcam.</li>
    <li>Clicks &amp; Keystrokes can be turned on/off during capture</li>
    <li>Hotkeys to Toggle Click and Keystrokes overlays (Alpha)</li>
  </ul>
  
  <h5>FFmpeg</h5>
  
  <ul>
    <li>Added Custom format for FFmpeg. Can be used by selecting encoder as <code>FFmpeg &gt; Custom</code> and customizing arguments in <code>Config &gt; FFmpeg</code>.</li>
    <li>Alpha: Live Streaming</li>
    <li>Alpha: NVENC support</li>
    <li><strong>fix:</strong> Unable to record multiple screens with total width or height indivisible by 2.</li>
    <li>FFmpeg can be installed from the commandline.</li>
  </ul>
</ng-template>

<ng-template #v601>
  <ul>
    <li><strong>fix:</strong> High memory usage when recording a specific screen.</li>
  </ul>
</ng-template>

<ng-template #v600>
  <ul>
    <li>Improved consistency and animations in the UI.</li>
    <li><strong>fix:</strong> Prevent Variable Frame Rate GIF with Desktop Duplication.</li>
    <li>Improve audio-video synchronisation.</li>
    <li><strong>fix:</strong> Screen recording with Desktop Duplication has an extra black region.</li>
    <li><strong>fix:</strong> Error after recording without Desktop Duplication after trying to record with when it is not supported.</li>
    <li><strong>fix:</strong> Error when Region Selector is taken out of visible bounds during recording.</li>
    <li>Added a simple drawing canvas.</li>
    <li><strong>fix:</strong> Using Screenshot resize resulted in blank images.</li>
    <li>Pause recording on Sleep/Hibernate.</li>
  </ul>

  <h5>Webcam</h5>

  <ul>
    <li><strong>fix:</strong> Webcam preview fails when Captura is run on dedicated graphics processor.</li>
    <li>Webcam drawn as overlay.</li>
    <li>Added <code>Configure | Webcam</code> for position and size of Webcam overlay.</li>
    <li>Opening Preview window is optional.</li>
    <li>Capture image button on header.</li>
  </ul>

  <h5>MouseKeyHook</h5>

  <ul>
    <li>MouseKeyHook customizations embedded in Config menu.</li>
    <li>Multipliers shown for repeated keystrokes.</li>
    <li>History of selected no of previous keystrokes displayed in overlay.</li>
    <li><strong>fix:</strong> Corrected Keystrokes Center positioning.</li>
  </ul>

  <h5>Installation</h5>

  <ul>
    <li>Moving to standard type of installer where you the user has control over options.</li>
    <li>Chocolatey upgrade is now used again.</li>
  </ul>

  <h5>Translation</h5>

  <ul>
    <li>Language selection moved to Configure tab.</li>
    <li>Added lots of translations.</li>
  </ul>
</ng-template>

<ng-template #v501>
  <ul>
    <li>Added Spanish Translation.</li>
    <li>Translations don't specify the country.</li>
  </ul>
</ng-template>

<ng-template #v500>
  <ul>
    <li>Include Cursor cannot be changed during capture.</li>
    <li>Default hotkeys made simpler.</li>
    <li>Authenticated Proxy support.</li>
    <li>Settings saved in <code>APPDATA/Captura/Settings.json</code>. Recent Items and Hotkeys saved in separate files.</li>
    <li><strong>fix:</strong> Variable Frame Rate Gif delay between frames.</li>
    <li><strong>fix:</strong> Pausing with Variable Frame Rate Gif.</li>
    <li><strong>fix:</strong> Region highlight borders not cleared after snapping.</li>
    <li>Shows error when unable to register hotkeys on start.</li>
    <li>Copy as Path option on Recent Items.</li>
    <li>Added support for using <strong>Desktop Duplication API</strong>.</li>
    <li>Removed Folder Writer due to high system resource consumption.</li>
    <li>Dropped frames are compensated with duplicated frames.</li>
    <li>MessageBox shown and Log file created on crash.</li>
    <li>Update Check</li>
  </ul>

  <h5>UI</h5>

  <ul>
    <li>Tabbed Configure page with Hotkeys and Extras embedded.</li>
    <li>Number Boxes to specify size of Region Selector.</li>
    <li>Added a Dark Theme.</li>
    <li>Removed Minimize to Tray checkbox.</li>
    <li>Removed selection of Topbar color.</li>
    <li>Added a Minimize to Tray button.</li>
  </ul>

  <h5>Change in Audio/Video Sources</h5>

  <ul>
    <li><strong>[Desktop]</strong> under <strong>Window</strong> changed to <strong>Full Screeb</strong> under <strong>Screen</strong>.</li>
    <li><strong>Screen</strong> kind is always visible.</li>
    <li><strong>No Video</strong> renamed to <strong>Only Audio</strong>.</li>
    <li><strong>Audio alone Codecs</strong> shown under <strong>Only Audio</strong> source.</li>
    <li><strong>WebCam</strong> is selected on the Main Window.</li>
    <li>Window recording is of the initial size of window. Any resizing of the window is scaled to fit.</li>
  </ul>

  <h5>Console</h5>

  <ul>
    <li><strong>fix:</strong> Video dimensions made even when capturing region from console.</li>
    <li><strong>fix:</strong> Error running console with input redirected.</li>
    <li><strong>fix:</strong> Use culture invariant string to represent region rectangle in console.</li>
  </ul>

  <h5>ScreenShots</h5>

  <ul>
    <li>ScreenShot Save Location and Format options on Main Tab.</li>
    <li>Support for uploading ScreenShots to <strong>Imgur</strong>.</li>
    <li>Option to hide MainWindow on <strong>Full Screen</strong> ScreenShot.</li>
  </ul>

  <h5>FFmpeg</h5>

  <ul>
    <li>FFmpeg is the default encoder.</li>
    <li>Audio and Video muxed in Realtime in FFmpeg capture.</li>
    <li>Added FFmpeg Downloader.</li>
    <li>Added FFmpeg HEVC Intel QSV encoder.</li>
    <li>FFmpeg is always shown in encoders list.</li>
    <li>A message with actions to take shown when trying to use FFmpeg in its absence.</li>
  </ul>
</ng-template>