<div class="container">
  <h1 class="display-4">ScreenShots</h1>
  <small>There may be minor variations from the current version of the app.</small>

  <div>
    <br>
    <mat-slide-toggle [(ngModel)]="dark">Dark Theme</mat-slide-toggle>
  </div>

  <div *ngFor="let screenshot of screenshots">
    <h3>{{screenshot.name}}</h3>
    <div style="max-width: 500px;">
      <img [alt]="screenshot.name" [src]="dark ? screenshot.darkUrl : screenshot.lightUrl" style="max-width: 100%;">
    </div>
  </div>
</div>